/*body{
    background-image: url("background.jpg");
    background-repeat:round no-repeat;
}*/

/*-----------------------------------------*/

*{user-select: none;}

/*-----------------------------------------*/

body{
    background-color: rgba(96, 113, 133, 0.5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}

/*-----------------------------------------*/

#background{
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    box-shadow: inset 1px 1px 100px 1px rgba(255, 255,255,1);
    z-index: 2;
}
#background h1{
    color: rgb(0, 145, 145); 
    font-size: 100px;
}

div#list{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

ul#list{
    background-color: rgb(0, 0, 0);
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    overflow: hidden;
}

#list li a{
    float: left;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: white;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;

    transition: background-color 0.45s;
}

#list a#thispage{
    background-color: darkgreen;
}
#list a#thispage:hover{
    background-color: rgb(9, 65, 24)
}

#list a:hover:not(#thispage){
    background-color: rgb(70, 70, 70);
}


/*-----------------------------------------*/

div.list1{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    border: 5px solid white;
    text-align: left;
    transition:width 1s,margin-left 0.5s,margin-right 0.5s;
}
div.list1:hover{
    margin-left: 10%;
    margin-right: 10%;
}

.list1 h2{
    color: white;
    text-align: center;
}

.list1 img{
    position: relative;
    float: right;
    bottom: 50px;
    height: auto;
    width: 50px;
    border-radius: 40px;
    transition: opacity 0.25s,box-shadow 0.5s,background-color 0.25s;
    transition-delay: 0.25s;
    transition-timing-function: ease;
}
.list1 img.black{
    filter: brightness(200);
}
.list1 img:hover{
    background-color: rgba(10, 10, 10, 0.2);
    opacity: 75%;
    box-shadow: 2px 2px 8px 1px rgb(20, 20, 20);
}

.list1 p{
    position: relative;
    width: calc(65% - 50px);
    text-align: left;
    color: aqua;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-overflow: ellipsis;
    overflow:hidden;
    height: 100px;
    transition: height 0s;
}

div.list1:hover p{
    text-overflow: clip;
    word-wrap: break-word;
    height: auto;
}

.list1 p a{
    color: aqua;
}
.list1 p a:visited{
    color: rgb(0, 172, 172);
}

/*-----------------------------------------*/

@keyframes hi{
    0%{
        max-height: 10px;
        max-width: 10px;
        background-color: rgb(255, 0, 0);
        left: 0;
        transform: rotateZ(360deg);
    }
    25%{
        max-height: 50px;
        max-width: 50px;
        background-color: rgba(47, 0, 255, 0.75);
        left: 25%;
        transform: rotateZ(1080deg);
    }
    50%{
        max-height: 100px;
        max-width: 100px;
        background-color: rgba(0, 255, 200, 0.5);
        left: 50%;
        transform: rotateZ(3160deg);
    }
    75%{
        max-height: 50px;
        max-width: 50px;
        background-color: rgba(115, 255, 0, 0.75);
        left: 75%;
        transform: rotateZ(1080deg);
    }
    100%{
        max-height: 10px;
        max-width: 10px;
        background-color: rgb(255, 0, 0);
        left: calc(100% - 10px);
        transform: rotateZ(360deg);
    }

}

/*-----------------------------------------*/

.buttons button{
    background-color: aqua;
    font-size: 30px;
    color: #fff;
}
.buttons button:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.buttons button:first-child{
    margin-left: calc(50% - 130px);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.buttons button:focus{
    color: red;
}

/*-----------------------------------------*/