/*body{
    background-image: url("background.jpg");
    background-repeat:round no-repeat;
}*/
body{
    background-color: yellow;
}
div.list1{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    border: 5px solid white;
}
h2{
    color: white;
    text-align: center;
}
img{
    float: right;
    position :relative;
    bottom: 50px;
    height: 50px;
    width: 50px;

    transition: opacity 0.25s,box-shadow 1s;
    transition-delay: 0.25s;
    transition-timing-function: ease;

    border-radius: 50px;
}
img.black{
    filter: brightness(200);
}
img:hover{
    opacity: 75%;
    box-shadow: 2px 2px 8px 1px rgb(20, 20, 20);
}
p{
    position: relative;
    width: calc(100% - 50px);
    text-align: left;
    color: aqua;
    font-size: 20px;
    padding-left: 10px;
}